/*初始化预设，清除所有边距离，预设字体使用，列表样式，超链接样式*/
body,div,span,object,h1,h2,h3,h4,h5,h6,p,ul,label,input,dl,ul,dt,dd,pre,form,fieldset,legend
{
    margin: 0;
    padding: 0;
}
body
{  
    
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", 
    "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;
}
ul,ol,li{ list-style: none; }
a{text-decoration: none;}

/*清除浮动组件*/
.clear{
    overflow: hidden;
    clear: both;
    
}
/*定义全局背景色*/
body{ background:#2E2F32} 

/*定义1rem大小*/
html {
    font-size: 10px;
}

/*隐藏横向滑动条*/
:root {
    overflow-y: auto;
    overflow-x: hidden;
  }

/*定义滑动条大小*/


::-webkit-scrollbar {
    
    width: 10px; /* 纵向滚动条的大小 */
    height: 10px; /* 横向滚动条的大小 */
}
/* 设置滚动条可拖动滑块的样式 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    
    background: #54575E;
}
/* 设置外层轨道的样式 */
::-webkit-scrollbar-track {
    
    border-radius: 0;
    background: #2E2F32;
}


